# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled other
**/Debug
**/Release
**/x64
build

# External libraries
dist/*.dll

# Projects and solutions
*.props
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vs

# Dynamically created files
*.log

# sample project
